<div class="about-section">
    <div class="about-content">
        <h2 class="about-title">ABOUT US :</h2>
        <div class="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum non 
            eu ipsum. Cras porta malesuada eros, eget blandit
            turpis suscipit at.  Vestibulum sed massa in magna sodales porta.  Vivamus elit urna, 
            dignissim a vestibulum.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum no
            eu ipsum. Cras porta malesuada eros.
        </div>
        <div class="stores-links">
            <div class="store-link">
                <img src="../../../assets/apple-icon.svg" alt="apple-icon" />
                <div class="text">
                    <div>Download on the</div>
                    <div class="name">App Store</div>
                </div>
            </div>
            <div class="store-link">
                <img src="../../../assets/google-icon.svg" alt="google-icon" />
                <div class="text">
                    <div>Get it on</div>
                    <div class="name">Google Play</div>
                </div>
            </div>
        </div>
    </div>
    <img class="epicure-icon" src="../../../assets/epicure-icon.png" alt="Epicure" />
</div>