<div class="nav-wrapper">
    <nav class="navbar">
        <div class="section-one">
            <a href="/" class="logo-wrapper"><img class="Logo" src="./../../../assets/epicure-logo.png" alt="Logo" /></a>
            <a href="/" class="epicure">EPICURE</a> 
            <a href="/restaurants" class="restaurants">Restaurants</a> 
            <a href="/chefs" class="chefs">Chefs</a>
        </div>
        <div class="section-two">
            <div class="search">
                <input type="search" placeholder="Search for restaurant cuisine, chef"/>
                <img class="search-icon" src="./../../../assets/search-icon.svg" alt="Search" />
            </div>
            <img class="nav-icon" src="./../../../assets/user-icon.svg" alt="User" />
            <img class="nav-icon" src="./../../../assets/bag-icon.svg" alt="Bag" />
        </div>
    </nav>
</div>